*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:root{
    --pink: rgb(207, 60, 60);
    --violet: rgb(49, 49, 201);
}
:selection{
    background: var(--pink);
    color: #fff;
    color: #534949;
}
input{
    text-transform: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn{
    width: 120px;
    height: 40px;
    background-color: var(--pink);
    color: var(--violet);
}
header{
    width: 96%;
    background: #fff;
    position: fixed;
    top: 2rem; 
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}

.signup-btn{
    color: rgb(198, 192, 255);
    font-size: 20px;
    height: 40px;
    width: 90px;
    border: 1px solid var(--violet);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 1s;
}

.signup-btn:hover{
    background: var(--violet);
    color: #fff;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li{
    margin: 0.4rem;
}
header .navbar ul li a{
    font-size: 2rem;
    color: var(--pink);
}
header .navbar ul li .active,
header .navbar ul li a:hover{
    color: var(--violet);
}

header .logo{
    font-size: 2.5rem;
    color: var(--violet);
    text-transform: uppercase;
}
header .logo i{
    color: var(--pink);
    padding: .2rem;
}
header .fa-times{
    font-size: 3rem;
    color: var(--pink);
    cursor: pointer;
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: var(--pink);
    cursor: pointer;
    display: none;
}
@media (max-width:768px) {
    html{
        font-size: 55%;
    }
    header .fa-bars{
        display: block;
    }
    header .fa-times{
        display: none;
    }
    header .navbar{
        position: fixed;
        top: -100rem; left: 0;
        width: 100%;
        background: #fff;
        border-radius: 1rem;
        opacity: 1;
    }
    header .navbar ul{
        flex-flow: column;
        padding: 2rem 0;
    }
    header .navbar ul li{
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a{
        font-size: 3rem;
        display: block;
    }
    .home .content{
        padding: 0;
    }
    .home .content p{
        padding: 0;
    }
    #text{
        padding: 0;
    }
    .home::before{
        display: none;
    }
    .about .row{
        flex-flow: column-reverse;
        
    }
    .about .row .image img{
        height: 400px;
        width: 90vw;
    }
    .about .row .content{
        padding: 0.5rem;
    }
    .course .box-container{
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image img{
        object-fit: contain;
    }
    .contact{
        display: flex;
        flex-direction: column;
    }
    .contact .row{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
    }
    .contact .row .image img{
        display: none;
    }
    .contact .row .form-container{
        padding-left: 30px;
        padding-top: 20px;
    }
}
.home{
    min-height: 100vh;
    background: linear-gradient(rgba(247, 34, 34, 0.8),#3d33c9cc),url("bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}
.home .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 14rem;
    padding-bottom: 8rem;
}
.home .content h1{
    font-size: 5rem;
    color: #fff;
    padding: 1rem 0;
    text-shadow: 0 0.3rem .5rem rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-align: center;
}
.home .content p{
    font-size: 2rem;
    color: #eee;
    text-align: center;
}
.home .content button{
    height: 4rem;
    width: 20rem;
    border-radius: 5rem;
    background: var(--pink);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    border: none;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.3);
    margin-top: 35px;
}
.home .content button:hover{
    letter-spacing: .3rem;
    transform: scale(1.10);
    opacity: 0.7;
}
.home .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.home .box-container .box{
    height: 20rem;
    width: 24rem;
    background: #fff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
    margin: 2rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.home .box-container .box i{
    font-size: 30px;
    background: var(--violet);
    color: #fff;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .box-container .box h3{
    font-size: 25px;
    font-weight: 400;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
    color: var(--pink);
    white-space: nowrap;
}
.home .box-container .box p{
    padding: 1rem;
    font-size: 14px;
}
.home::before{
    content: '';
    position: absolute;
    bottom: -25rem; left: 50%;
    transform: translateX(-50%);
    border-top: 70vh solid #fff;
    width: 120%;
    border-radius: 50%;
    z-index: -1;
}
.heading{
    font-size: 4rem;
    color: var(--pink);
    text-align: center;
    padding: 0.1rem;
    padding-top: 6rem;
    letter-spacing: .2rem;
    font-weight: 500;
}
.title{
    padding: .1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: #aaa;
}
.about .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .row .image img{
    height: 70vh;
}
.about .row .content{
    padding-left: 5rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: var(--pink);
}
.about .row .content p{
    font-size: 1.6rem;
    color: #999;
    padding: 1rem 0;
}
.about .row .content button{
    height: 3.5rem;
    width: 17rem;
    background: var(--violet);
    color: #fff;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: .2s;
    font-size: 2rem;
}
.about .row .content button:hover{
    letter-spacing: .2rem;
    opacity: .8;
}
.teacher{
    background: #f9f9f9;
}
.teacher .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.teacher .card-container .card{
    padding: 2rem;
    margin: 2rem;
    background: #fff;
    text-align: center;
    width: 28rem;
    box-shadow:0 .3rem .5rem rgba(0, 0, 0, 0.3);
    transition: 1s;
}
.teacher .card-container .card:hover{
    transform: scale(1.1);
}
.teacher .card-container .card img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale();
    transition: .2s;
}
.teacher .card-container .card:hover img{
    filter: grayscale(0);
}
.teacher .card-container .card h3{
    color:  var(--pink);
    font-size: 2rem;
    padding: 5rem 0;
}
.teacher .card-container .card p{
    font-size: 1.7rem;
    color: #666;
}
.teacher .card-container .card .icons a{
    font-size: 1.9rem;
    padding: 1.5rem .5rem;
    color: var(--pink);
}

.teacher .card-container .card .icons a:hover{
    color: var(--violet);
}
.course .box-container{
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 4rem;
    flex-wrap: wrap;
}
.course .box-container h3{
    font-size: 20px;
}
.course .box-container p{
    font-size: 15px;
    padding-top: 15px;
}
.course .box-container .box{
    width: 30rem;
    margin: 3.5rem 2rem;
    text-align: center;
    box-shadow: .3rem .3rem 0 .1rem var(--violet),
    .3rem .3rem 0 .1rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    transition: 1s;
}
.course .box-container .box:hover{
    transform: scale(1.1);
}
.course .box-container .box .btn{
    width: 120px;
    height: 40px;
    background-color: var(--pink);
    color: var(--violet);
    margin-bottom: 30px;
    outline: 0;
    border: 0;
    border-radius: 5px;
}

.course .box-container .box .btn a{
    color: #fff;
}

.course .box-container .box i{
    height: 10rem;
    width: 10rem;
    line-height: 8rem;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: var(--pink);
    margin-top: -4rem;
    border: 1rem solid #fff;
    border-left: 1rem solid var(--pink);
    border-right: 1rem solid var(--pink);
    box-shadow: 0 0 0 1rem #fff inset;
    font-size: 40px;
}
.review{
    background: #fff;
}
.review .box-container{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    flex-wrap: wrap;
}
.review .box-container .box{
    width: 28rem;
    margin-bottom: 6rem;
    padding-bottom: 1.7rem;
    text-align: center;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 20px;
}
.review .box-container .box img{
    height: 8.5rem;
    width: 8.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -4rem;
    border: .6rem solid var(--pink);
    border-left: .6rem solid var(--violet);
    border-bottom: .6rem solid var(--violet);
}
.review .box-container .box h3{
    font-size: 2rem;
    color: var(--pink);
    padding: 0 .5rem;
}
.review .box-container .box p{
    font-size: 1.4rem;
    color: #999;
    padding: 0 .3rem;
    transition: .1s;
}
.review .box-container .box i{
    color: var(--pink);
    padding-top: 25px;
    font-size: 10px;
}
.review .box-container .box:hover{
    transform: translateY(-10px)
}
.contact{
    background: #333;
    align-items: center;
    justify-content: center;
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0;
}
.contact .row .image img{
    width: 50vw;
    height: 70vh;
}
.form-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.form-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container input, textarea{
    height: 4rem;
    background: #fff;
    border: none;
    border-radius: 5rem;
    padding: 0 1rem;
    margin: 1rem 0;
    color: var(--pink);
    font-size: 1.7rem;
    transition: .2s linear;
    width: 100%;
}
.contact .row .form-container textarea{
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
}
.contact .row .form-container input:focus, textarea:focus{
    border: .2rem solid var(--pink);
}
.contact .row .form-container input:is(:focus, :valid) ~ input::placeholder{
    font-size: .75rem;
    transform: translateY(-130%);
}

.copyright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: rgb(87, 77, 77);
    margin-bottom: 100px;
    font-size: 20px;
}